/* footer.css */

/* Footer fijo al final */
footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-top: auto; /* Empuja el footer al final del contenedor principal */
}

/* Eliminamos cualquier espacio adicional debajo */
footer p {
  margin: 0;
}
